---
import { Icon } from "astro-icon";
import ContentSection from "~/components/content-section.astro";
---

<ContentSection title="¿Cómo canjearlo?" id="intro">
  <Icon slot="eyebrow" name="Steam_icon_logo" class="h-32" />
  <Fragment slot="lead">
    Busca el jueguito que quieras en la tienda de 
    <span class="text-primary"> Steam </span> 
    y enviame el link por cualquier canal de comunicación.
    Luego, el juego se activará <span class="text-primary"> automáticamente </span> en tu cuenta! 
  </Fragment>
  <div class="grid grid-cols-1 gap-2 sm:grid-cols-1">
    <a
      href="https://store.steampowered.com/"
      class="flex items-center justify-center gap-3 border-2 border-current px-6 py-4"
    >
      <Icon pack="mdi" name="steam" class="h-8" />
      <span>Tienda</span>
    </a>
  </div>
</ContentSection>
